#ignore template docs
Documentation/
Licensing/
#ignore sass cache
_source/wp-content/themes/SynapseWP/.sass-cache/
#ignore visual studio solution files
*.sln
*.suo
*.mswwsettings
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

_source/wp-content/themes/SynapseWP/style.css
