/*----------------------------------------------

	PARTIAL:	_buttons.scss
	PARENT:		_theme-synapse.scss
	
 ----------------------------------------------*/
 
.buttons li {
	float: left;
	margin-right: 15px;
	margin-bottom: 20px;
}
.buttons a {
	margin-top: 0;
}